body{

    background:#d9c8ff;

    font-family:Arial;

}

.container{

    width:400px;

    background:white;

    margin:auto;

    margin-top:50px;

    padding:20px;

    border-radius:10px;

}

h2,
h3{

    text-align:center;

    color:#5a2d82;

}

input,
textarea{

    width:100%;

    padding:10px;

    margin-top:10px;

    box-sizing:border-box;

}

textarea{

    height:100px;

}

button{

    width:100%;

    padding:10px;

    margin-top:10px;

    background:#8a4fff;

    color:white;

    border:none;

    cursor:pointer;

}

button:hover{

    background:#6f36dd;

}

li{

    margin-top:15px;

    background:#eee7ff;

    padding:10px;

}

/* Toaster */

#toast{

    position:fixed;

    top:20px;

    left:20px;

    background:#5a2d82;

    color:white;

    padding:12px;

    border-radius:5px;

    display:none;

}
